body {
	background: url("../img/projects-background.jpg") no-repeat center center fixed;
	background-size: cover;
}
header {
	position: fixed;
	height: 40px;
	width: 100%;
	margin: 0 auto;
	background: rgba (0 0 0 0.5);
}
a:link {
	text-decoration: none;
	font-weight:bold;
	color: lightsteelblue;
	font-family: 'Overlock', cursive;
	font-size: 35px;
}
ul a:visited {
    color: lightsteelblue;
}
ul a:hover{
    color: white; 
    font-size: 39px; 
    transition: font-size 0.7s ease; 
    /* border-bottom: 1.5px solid lightsteelblue; */
}
ul a:active {
    border-bottom: 0.5px solid lightsteelblue;
}
li {
	display: inline;
	padding: 30px;
	}
ul {
	position: fixed;
	top: 0;
	right: 15px;
}
#heading {
	color: lightcyan;
	position: fixed; 
    top: -40px; 
    left: 30px; 
	font-family: 'Overlock', cursive;
	font-size: 70px;
}
.icons_container {
    width: 90%; 
    margin: 100px auto;
}
.icon {
    background-color: black;
    opacity: 0.6; 
    color: white;
    border: groove gray;
    height: 200px;
    width: 200px;
    border-radius: 100%;
     margin: 50px 100px 0 100px; 
    display: inline-block;
}
.icon:hover {
    opacity: 0.8; 
    transition: all 0.9s ease; 
}
.icon h1 {
    text-align: center;
    line-height: 1.7em;
    font-family: 'Open Sans', sans-serif;
}
#connect_frame {
    position: relative;
    height: 700px; 
    width: 450px;
    visibility: none;
    margin: 0 auto; 
    border-radius: 30px;
    border: groove gray; 
}
.icon a {
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 1.7em;
    font-size: 1.17em;
    font-family: 'Open Sans', sans-serif;
}
#active_link {
    color: white;
    padding-bottom: 5px;
    padding-right: 1px; 
    padding-left: 1px; 
    border-bottom: 2px solid lightsteelblue;
    
}