body {
	background: url("../img/projects-background.jpg") no-repeat center center fixed;
	background-size: cover;
}
header {
	position: fixed;
	height: 40px;
	width: 100%;
	margin: 0 auto;
	background: rgba (0 0 0 0.5);
}
a:link {
	text-decoration: none;
	font-weight:bold;
	color: lightsteelblue;
	font-family: 'Overlock', cursive;
	font-size: 35px;
}
a:visited {
    color: lightsteelblue;
}
a:hover{
    border-bottom: 0.5px solid white;
}
a:active {
    border-bottom: 0.5px solid white;
}
li {
	display: inline;
	padding: 30px;
	}
ul {
	position: fixed;
	top: 0;
	right: 15px;
}
#heading {
	color: lightcyan;
	position: fixed; 
    top: -40px; 
    left: 30px; 
	font-family: 'Overlock', cursive;
	font-size: 70px;
}
.icons_container {
    margin: 150px 100px 0 100px;
    height: 100%; 
}
.icon {
    background-color: black;
    opacity: 0.6; 
    color: white;
    border: groove gray;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 50px 100px 0 100px;
    display: inline;
}
.icon:hover {
    opacity: 1; 
    transition: opacity 0.9s ease; 
}
.icon h1 {
    text-align: center;
    line-height: 1.7em;
    font-family: 'Open Sans', sans-serif;
}