body {
    background: url("../img/index-background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #FFF0F5;
}
img {
	border-radius: 100%;
	border: inset 1px lightsteelblue;
	display: block;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	margin-top: 1%;
}
.content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
a:link {
    text-decoration: none;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 39px;
    color: lightsteelblue;
}
a:visited {
    color: lightsteelblue; 
}
a:hover{
    color: lightcyan; 
    font-size: 43px; 
    transition: font-size 0.7s ease; 
}
ul {
	position: fixed;
	width: 93%;
	margin: 0 auto;
	text-align: center;
	bottom: 40%;
	font-weight: bolder;
	z-index: 10;
}
li {
	display: inline;
	padding: 30px;
}
.name {
    font-size: 150px;
    font-family: 'Crushed', cursive;
    font-variant: small-caps;
    font-weight: lighter;
    width: 100%;
    margin: 0 auto;
    padding-top: 1%;
    color: lightcyan;
}
#currentStatus {
    position: fixed;
    right: 2%;
    bottom: 1%;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: lightsteelblue;
    font-size: 27px;
    letter-spacing: 1px;
}
#about {
    position: fixed;
    font-size: 27px;
    width: 100%;
    padding-top: 8%;
    color: lightcyan;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
}

#active_link {
    color: white;
    padding-bottom: 5px;
    padding-right: 1px;
    padding-left: 1px;
    border-bottom: 2px solid lightsteelblue;
}

@media screen and (max-width: 698px) and (min-width: 300px)
{
    img {
        height: 100px; 
        width: 100px;
    }
    .name {
        margin-top: 10px;
        font-size: 80px;
    }
    ul {
        position: fixed; 
        bottom: 15%; 
        right: 5%;

    }
    #about {
        margin-top: -10px;
        font-size: 18px;
    }
    li {
        display: block;
        padding: 5px;
    }
    a:link {
        font-size: 26px;
    }
    a:hover {
        font-size: 26px;
    }
    #currentStatus{
        font-size: 17px;
    }
}
